node_modules
.pnpm-store
.DS_Store
apps/desktop/dist
apps/desktop/renderer/dist
apps/desktop/renderer/.vite
*.log
.dist
.env
.env.local
.env.*.local
coverage
.vscode
.idea
*.iml
*.swp
.cache
*.tsbuildinfo
tmp
temp
